extends ../layout/index

block contenido
    div.py-10
        h1.text-center.text-4xl.my-10.font-extrabold.text-primary Bienes
            span.font-normal.text-white Raices
        h2.text-center.text-3xl.font-extrabold= page

        .mt-8.mx-auto.max-w-xl
            .bg-background.py-8.px-4.shadow-xl.rounded-lg
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.text-accent.mb-3.font-semibold(for="email") Correo:
                        input#email.w-full.px-3.py-2.border.border-neutral.rounded-sm.placeholder-neutral.text-black(placeholder="user@domain.com" name="email" type="email")
                    
                    input#btn-login.w-full.bg-secondary.text-background.font-semibold.py-3.rounded-lg.cursor-pointer(type="submit" value="Enviar correo" class="hover:bg-primary active:bg-primary")

                    div.flex.items-center.justify-between.pt-5
                        a.text-sm.text-neutral(href="/user/register" class="hover:underline decoration-primary") ¿No tienes una cuenta?, Regístrate
                        a.text-sm.text-neutral(href="/user/login" class="hover:underline decoration-primary") ¿Tienes una cuenta?, Inicia sesión

