extends ../layout/index

block contenido
    div.py-10
        h1.text-center.text-4xl.my-10.font-extrabold.text-emerald-600 Bienes
            span.font-normal.text-gray-800 Raices
        h2.text-center.text-3xl.font-extrabold= page

        .mt-8.mx-auto.max-w-md
            .bg-gray-50.py-8.px-4.shadow-xl.rounded-lg
                form
                    div
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-semibold Nombre:
                        input#name.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(type="text" placeholder="ej. Edwin Campos" name="name")
                    br
                    div
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-semibold Correo:
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(placeholder="usuario@domain.com" name="email" type="email")
                    br
                    div
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-semibold Contraseña:
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(placeholder="▪▪▪▪▪▪▪▪▪" name="password" type="password" required)
                    br
                    div
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-semibold Confirmar Contraseña:
                        input#recovery-password.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(placeholder="▪▪▪▪▪▪▪▪▪" name="recovery-password" type="password" required)
                    br
                    div
                        input#button_login.w-full.bg-emerald-700.text-white.font-semibold.py-3.rounded-lg(class="hover:bg-emerald-800 cursor-pointer" type="submit" value="Login")
                    br
                    div.flex.items-center.justify-between.pt-5
                        a.text-sm.text-gray-500(href="/user/login" class="hover:underline decoration-emerald-700") ¿Tienes una cuenta?, Inicia sesión
                        a.text-sm.text-gray-500(href="/user/passwordRecovery" class="hover:underline decoration-emerald-700") ¿Olvidaste tu contraseña?, Recupérala