extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-action Bienes 
            span.font-normal.text-hoverAction Raices
        h2.text-center.text-2xl.font-extrabold= page

        a(href="/properties/create" class="rounded py-2 px-10 bg-action hover:bg-hoverAction text-white font-bold text-center uppercase my-5 inline-block w-full sm:w-auto") Publicar Propiedad