header.bg-action
    .container.mx-auto.flex.justify-between.items-center.px-7
        h1.text-4xl.my-10.font-extrabold.text-center.text-formBackground Bienes 
            span.font-normal.text-formBackground Raices

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white items-center")
            a(href="" class="bg-action2 hover:bg-hoverAction py-2 px-10 rounded-lg") Mis Propiedades
            a(href="" class="bg-action2 hover:bg-hoverAction py-2 px-10 rounded-lg") Mi Perfil
            a(href="" class="bg-action2 hover:bg-hoverAction py-2 px-10 rounded-lg") Cerrar Sesion