html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raices  |  230758  |  #{page} 
        link(rel="stylesheet", href="/css/app.css")
    
    body(style="background-color:#000000; color:#FFFFFF; min-height: 100vh;")
        main(class="mx-auto container mt-10 px-2")
            block contenido
